.services-page {
  h2 {
    font-weight: 700;
    font-style: italic;
    text-align: center;
  }

  .icon-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
      grid-template-columns: 25% 25% 25% 25%;
    }

    @media screen and (max-width: 450px) {
      grid-template-columns: auto auto auto;
    }

    svg {
      width: 100%;
      margin: auto;
      padding: 20%;

      &.socketIO {
        padding: 5%;
      }

      @media screen and (max-width: 767px) {
        padding: 15%;
      }
    }
  }
}
