@import "../assets/styles/variables";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.4rem;
      font-family: $brandonGrot;
      font-style: normal;
      font-weight: 400;
      margin-bottom: .2rem;
      text-align: center;
      line-height: 1.8rem;
    }

  .portrait {
    width: 250px;
    border-radius: 50%;
  }
}