@import "../assets/styles/variables";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  @media screen and (max-width: 767px) {
    margin-top: 10vh;
  }

    p {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      margin-bottom: .2rem;
      text-align: center;
      line-height: 1.8rem;
    }

  .portrait {
    width: 250px;
    border-radius: 50%;
  }

  .typeContainer {
    display: none;
  }
}