@import "../styles/variables";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.4rem;
      font-family: $brandonGrot;
      margin-bottom: .2rem;
      text-align: center;
      line-height: 1.8rem;
    }
}