@import url("https://use.typekit.net/pri8jls.css");

$brandonGrot: brandon-grotesque, sans-serif;
$tisaPro: ff-tisa-web-pro, serif;

$color-primary-0: #449134;	// Main Primary color */
$color-primary-1: #9FD793;
$color-primary-2: #6DB55E;
$color-primary-3: #256F15;
$color-primary-4: #0E4B02;

$color-secondary-1-0: #353C78;	// Main Secondary color (1) */
$color-secondary-1-1: #8387B3;
$color-secondary-1-2: #585E95;
$color-secondary-1-3: #1C225C;
$color-secondary-1-4: #0A0F3E;

$color-secondary-2-0: #AE903E;	// Main Secondary color (2) */
$color-secondary-2-1: #FFE9AF;
$color-secondary-2-2: #D9BC71;
$color-secondary-2-3: #85681A;
$color-secondary-2-4: #5A4202;

$color-complement-0: #A83C46;	// Main Complement color */
$color-complement-1: #F7A9B1;
$color-complement-2: #D16D77;
$color-complement-3: #801923;
$color-complement-4: #57020A;
